@model IEnumerable<guestNetwork.Models.Advertisement>

<div id="filterForm">
    <table class="table advertisement">
        <tr>
            <th>

            </th>
            <th>
                Title
            </th>
            <th>
                Content
            </th>
            <th>
                Type
            </th>
            <th>
                UserName
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Content(item.MainImagePath)" class="mainAdvertisementsImage" alt="image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.ActionLink(item.User.UserName, "Details", "Account", new { id = item.User.Id,backUrl = Request.Url.ToString() }, null)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Advertisement", new { id = item.Id, backUrl = Request.Url.ToString()}, null)
                </td>
            </tr>
        }
    </table>
</div>
