@model guestNetwork.Models.FilterAdvertisementViewModel

@using (@Html.BeginForm("ViewAdvertisementsList", "Advertisement", new { backUrl = ViewBag.Url }))
{
    <div class="filterForm">
        <div class="filterFormItem">
            @Html.LabelFor(model => model.AdvertisementViewType, new { @class = "filterFormLabel" })
            <div class="filterform-control">
                @Html.DropDownListFor(model => model.AdvertisementViewType, new SelectList(Enum.GetValues(typeof(guestNetwork.Models.AdvertisementViewType))), new { @class = "form-control" })
            </div>
        </div>

        <div class="filterFormItem">
            @Html.LabelFor(model => model.OnlyActiveAdvertisements, new { @class = "filterFormLabel" })
            <div class="filterform-control">
                @Html.CheckBoxFor(model => model.OnlyActiveAdvertisements)
            </div>
        </div>

        <div class="filterFormItem">
            <div class="filterform-control">
                <input type="submit" class="btn btn-default" value="Filter" />
            </div>
        </div>
    </div>
}
