@model guestNetwork.Models.FilterAdvertisementViewModel

@using (@Ajax.BeginForm("ViewAdvertisementsList", "Advertisement", new { backUrl = ViewBag.Url }, new AjaxOptions { UpdateTargetId = "filterForm" }))
{
    <div class="filterForm">
        <div class="filterFormItem">
            @Html.LabelFor(model => model.advertisementViewType, new { @class = "filterFormLabel" })
            <div class="filterFormControl">
                @Html.DropDownListFor(model => model.advertisementViewType, new SelectList(Enum.GetValues(typeof(guestNetwork.Models.AdvertisementViewType))), new { @class = "form-control" })
            </div>
        </div>

        <div class="filterFormItem">
            @Html.LabelFor(model => model.onlyActiveAdvertisements, new { @class = "filterFormLabel" })
            <div class="filterFormControl">
                @Html.CheckBoxFor(model => model.onlyActiveAdvertisements)
            </div>
        </div>

        <div class="filterFormItem">
            <div class="filterFormControl">
                <input type="submit" class="btn btn-default" value="Filter" />
            </div>
        </div>
    </div>
}
