@model IEnumerable<guestNetwork.Models.Advertisement>

    <table class="advertisementsTable">
        @foreach (var item in Model)
        {
            <tr class="advertisementsTableEmptyRow">
                <td colspan="2">
                    <hr />
                </td>
            </tr>
            
            <tr class="advertisementsTableRow">
                <td class="advertisementsImage">
                    <a href="@Url.Action("Details", "Advertisement", new {id = item.Id, backUrl = ViewBag.Url})">
                        <img src="@Url.Content(item.MainImagePath)" class="mainAdvertisementsImage" alt="image" />
                    </a>
                </td>
                <td class="advertisementsInformation">
                    <div class=" Title boldFont advertisementsInformationString">
                        @Html.DisplayFor(modelItem => item.Title)
                    </div>
                    <div class="advertisementsInformationString">
                        <span class="boldFont">User: </span>
                        @Html.ActionLink(item.User.UserName, "Details", "Account", new { id = item.User.Id, backUrl = ViewBag.Url }, null)
                    </div>
                    <div class="advertisementsInformationString">
                        <span class="boldFont">Type: </span>
                        @Html.DisplayFor(modelItem => item.Type)
                    </div>
                </td>
            </tr>
        }
    </table>

