@using DAL
@using Type = DAL.Models.Type
@model guestNetwork.ViewModels.AdvertisementViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Advertisement", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Advertisement</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content, new
                {
                    @class = "form-control advertisementsContent", 
                    @maxlength = GuestNetworkConstants.ContentFieldLength
                })
                @Html.ValidationMessageFor(model => model.Content)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Type, 
                    new SelectList(Enum.GetValues(typeof(Type))), new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.MainImagePath, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file" id="file" accept="image/*" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}