@using Microsoft.AspNet.Identity
@model guestNetwork.Models.Advertisement

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Advertisement</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @if (Request.IsAuthenticated )
    {
        if (Int32.Parse(User.Identity.GetUserId()) == Model.UserId)
        {
            @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) @(" | ")
        }
        else
        {
            if (Model.Response == null)
            {
                <div id="responseForm">
                    @Ajax.ActionLink("Response to advertisement", "Create", "Response", new {id = Model.Id}, new AjaxOptions {UpdateTargetId = "responseForm"})
                </div>
            }
        }
    }

    @Html.ActionLink("Back to List", "Index")
</p>


@Scripts.Render("~/Scripts/jquery-1.10.2.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
