@using Microsoft.AspNet.Identity
@model guestNetwork.ViewModels.AdvertisementViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Advertisement</h4>
    <hr />
    <table >
        <tr>
            <td >
                <img src="@Url.Content(Model.MainImagePath)" class="mainAdvertisementsImage" alt="image" />
            </td>
            <td class="advertisementsInformation">
                <div class=" Title boldFont advertisementsInformationString">
                    @Html.DisplayFor(model => model.Title)
                </div>
                <div class="textWrap advertisementsInformationString">
                    @Html.DisplayFor(model => model.Content)
                </div>
                <div class="advertisementsInformationstring">
                    <span class="boldFont ">User: </span>
                    @Html.ActionLink(Model.UserName, "Details", "Account", 
                        new { id = Model.UserId}, new {@class = "userInfoLink"})
                </div>
                <div class="advertisementsInformationString">
                    <span class="boldFont">Type: </span>
                    @Html.DisplayFor(model => model.Type)
                </div>
            </td>
        </tr>
    </table>
</div>

@if (Request.IsAuthenticated)
{
    @Html.Action("ViewForAdvertisement", "Response", new { id = Model.Id })
}
