@using Microsoft.AspNet.Identity
@using PagedList.Mvc;
@model PagedList.IPagedList<guestNetwork.ViewModels.AdvertisementViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My advertisements</h2>

<p>
    @Html.ActionLink("Add new advertisement", "Create")
</p>
@if (Model.Count > 0)
{
    <table class="advertisementsTable">
        @foreach (var item in Model)
        {
            <tr class="advertisementsTableRow">
                <td class="advertisementsImage">
                    <img src="@Url.Content(item.MainImagePath)" class="mainAdvertisementsImage" alt="image" />
                </td>
                <td class="advertisementsInformation">
                    <div class=" Title boldFont advertisementsInformationString">
                        @Html.DisplayFor(modelItem => item.Title)
                    </div>
                    <div class="advertisementsInformationString">
                        @Html.DisplayFor(model => item.Content)
                    </div>
                    <div class="advertisementsInformationString">
                        <span class="boldFont">Type: </span>
                        @Html.DisplayFor(modelItem => item.Type)
                    </div>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id, backUrl = Request.Url.ToString()}) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id, backUrl = Request.Url.ToString() })
                </td>
                @Html.Action("Details", "Response", new { id = item.Id })
            </tr>
            <tr class="advertisementsTableEmptyRow">
                <td colspan="2">
                    <hr />
                </td>
            </tr>
        }
    </table>

    <div class="pagedList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
            new PagedListRenderOptions
            {
                LinkToFirstPageFormat = "<<",
                LinkToPreviousPageFormat = "Prev",
                LinkToNextPageFormat = "Next",
                LinkToLastPageFormat = ">>"
            })
    </div>
}
