@using System.Web.UI.WebControls
@using guestNetwork.ViewModels
@using PagedList.Mvc;
@model PagedList.IPagedList<guestNetwork.ViewModels.AdvertisementViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (@Html.BeginForm("ViewAll", "Advertisement", new { backUrl = ViewBag.Url, FormMethod.Get }))
{
    <div class="filterForm">
        <div class="filterFormItem">
            @Html.Label("Type", new { @class = "filterFormLabel" })
            <div class="filterform-control">
                @Html.DropDownList("type", new SelectList(
                        Enum.GetValues(typeof(AdvertisementViewType)), ViewBag.type), 
                        new { @class = "form-control" })
            </div>
        </div>

        <div class="filterFormItem">
            @Html.Label("Show only active Advertisements:", new { @class = "filterFormLabel" })
            <div class="filterform-control">
                @if (ViewBag.onlyActive as string == "true")
                {
                    @Html.CheckBox("onlyActive", true)
                }
                else
                {
                    @Html.CheckBox("onlyActive", false)
                }
            </div>
        </div>

        <div class="filterFormItem">
            <div class="filterform-control">
                <input type="submit" class="btn btn-default" value="Filter" />
            </div>
        </div>
    </div>
}


<div id="filterForm">
    <table class="advertisementsTable">
        @foreach (var item in Model)
        {
            <tr class="advertisementsTableRow">
                <td class="advertisementsImage">
                    <a href="@Url.Action("Details", "Advertisement", new { id = item.Id, backUrl = ViewBag.Url })">
                        <img src="@Url.Content(item.MainImagePath)" class="mainAdvertisementsImage" alt="image" />
                    </a>
                </td>
                <td class="advertisementsInformation">
                    <div class=" Title boldFont advertisementsInformationString">
                        @Html.DisplayFor(modelItem => item.Title)
                    </div>
                    <div class="advertisementsInformationString">
                        <span class="boldFont">User: </span>
                        @Html.ActionLink(item.UserName, "Details", "Account", 
                            new { id = item.UserId, backUrl = ViewBag.Url }, null)
                    </div>
                    <div class="advertisementsInformationString">
                        <span class="boldFont">Type: </span>
                        @Html.DisplayFor(modelItem => item.Type)
                    </div>
                </td>
            </tr>
            <tr class="advertisementsTableEmptyRow">
                <td colspan="2">
                    <hr/>
                </td>
            </tr>
        }
    </table>

    <div class="pagedList">

        @Html.PagedListPager(Model, page => Url.Action("ViewAll", "Advertisement", 
            new { page, backUrl = ViewBag.Url, onlyActive = ViewBag.onlyActive, type = ViewBag.type }),
            new PagedListRenderOptions
            {
                LinkToFirstPageFormat = "<<",
                LinkToPreviousPageFormat = "Prev",
                LinkToNextPageFormat = "Next",
                LinkToLastPageFormat = ">>"
            })
    </div>
</div>