@model guestNetwork.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
	<hr />
    <div class="detailsTable">
        <div class="detailsTableRow">
            <div class="detailsTableCellLeft">
                @Html.DisplayNameFor(model => model.UserName):
            </div>
            <div class="detailsTableCellRight">
                @Html.DisplayFor(model => model.UserName)
            </div>
        </div>

        <div class="detailsTableRow">
            <div class="detailsTableCellLeft">
                @Html.DisplayNameFor(model => model.Firstname):
            </div>
            <div class="detailsTableCellRight">
                @Html.DisplayFor(model => model.Firstname)
            </div>
        </div>

        <div class="detailsTableRow">
            <div class="detailsTableCellLeft">
                @Html.DisplayNameFor(model => model.Surname):
            </div>
            <div class="detailsTableCellRight">
                @Html.DisplayFor(model => model.Surname)
            </div>
        </div>
        
        <div class="detailsTableRow">
            <div class="detailsTableCellLeft">
                @Html.DisplayNameFor(model => model.Country):
            </div>
            <div class="detailsTableCellRight">
                @Html.DisplayFor(model => model.Country)
            </div>
        </div>
        
        <div class="detailsTableRow">
            <div class="detailsTableCellLeft">
                @Html.DisplayNameFor(model => model.City):
            </div>
            <div class="detailsTableCellRight">
                @Html.DisplayFor(model => model.City)
            </div>
        </div>
        
        <div class="detailsTableRow">
            <div class="detailsTableCellLeft">
                @Html.DisplayNameFor(model => model.Languages):
            </div>
            <div class="detailsTableCellRight">
                @foreach (var item in Model.Languages)
                {
                    <p>@Html.DisplayFor(modelItem => item.Name)</p>
                }
            </div>
        </div>
    </div>
</div>
