@using Microsoft.AspNet.Identity
@model guestNetwork.Models.Response
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
    <body>
        <div id="editResponse">
            <div>
                <h4>Response</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Message)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Message)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.User.UserName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.User.UserName)
                    </dd>
                </dl>
            </div>

            @if (Request.IsAuthenticated)
            {
         
                if(Int32.Parse(User.Identity.GetUserId()) == Model.UserId)
                {
                    <p>@Ajax.ActionLink("Edit", "Edit", "Response", new { id = Model.AdvertisementId }, new AjaxOptions { UpdateTargetId = "editResponse" })</p>
                    
                    <p>@Ajax.ActionLink("Delete", "Delete", "Response", new { id = Model.AdvertisementId }, new AjaxOptions { UpdateTargetId = "editResponse" })</p>
                }
                /*if (Int32.Parse(User.Identity.GetUserId()) == Model.Advertisement.UserId)
                {
                    @Ajax.ActionLink("Delete", "Delete", "Response", new { id = Model.AdvertisementId }, new AjaxOptions { UpdateTargetId = "editResponse" })
                }*/
            }
        </div>
</body>
</html>


